@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap");

/*font-family: "Oswald", sans-serif;*/

body {
  font-family: "Open Sans", sans-serif;
}
